
.html{
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    margin: 0;
    padding: 0;
    margin-block-end: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin: 0;
    padding: 0;
    margin-block-end: 0;
    font-family:sans-serif;
}
.heading{
    display: grid;

}
#rectangle {
	width: 100%;
    height: 10em;
	background-color: #8B00FF;
}
#triangle-down {
	width: 100%;
	height: 20px;
	border-left: 50em solid transparent;
	border-right: 50em solid transparent;
	border-top: 10em solid;
    color: #8B00FF;

}
h1{
    color: white;
    margin: 0cm;
    text-align: center;
    font-size:  8em;
    font-family:sans-serif;
}
.card {
    display: flex;
    font-size:  1.1em;
    font-family:sans-serif;
    margin-top: 0.5em;
    flex-direction: column;
}
img{
    width: 14em;
    height: 19em;
    align-self:flex-start;
    position: relative;
    
}
.card-image1{
    float: right;
    transition: left 5s cubic-bezier(0, 0, 1, 1);
}
.card-image{
    float: left;
    margin-right: 2.5em;
    animation: myAnimation 4s 1;
}
@keyframes myAnimation-right {
    100%{left: 100;
    transform: translateX(0);
    }
}
@keyframes myAnimation-left {
    100%{left: -100;
    transform: translateX(100);
    }
}
.card-text{
    margin-top: 2em;
    margin-right: 3cm;
    max-width: 60%;
}
input[type=submit]{
    height: 3em;
    font-size:1em ;
    color: white;
    width: 11em;
    background-color: rgb(255, 147, 58);
    border: 0cm;
    border-radius: 10%;
    float:center;
    margin-top: 1em;
}
.card-rate{
    color:rgb(137, 199, 250);
}
.card-link{
    p{
        color: rgb(144, 204, 184);
    }
}.card-purple_text{
    b{
        color: #8B00FF;
    }
}
.hat{
    margin-top: 0%;
    margin-left: 0em;
    margin-right: 0em;
    margin-block-end: 2em;
}
.jacket{
    max-width: 1200px;
    margin:0 auto;
    flex-direction: column;
    display: flex;
    justify-content:space-between;
    /* padding-left: 1.5cm;
    padding-right: 0.8cm; */
}
.basement{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    margin-left: 30%;
    margin-right: 30%;
    text-align:center;
    img{
        float: center;
        width: 0.2em;
        height: 7em;
        margin-left: 4em;
        margin-right: 3em;
    }
    .card{
        align-content: center ;
        img{
            float: center;
            width: 5em;
            height: 5em;
        }
    }
}
